<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @application.short_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @application.description %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @application.is_active %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @application.is_deleted %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @application.deleted_at %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
