
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<%= paginate data_obj, :total_count => data_obj.total_count %>
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<%= form_for form_for_obj, :method => "get", :url => data_obj_paths[:list_path] do |f| %>
						<th>
							<%= link_to_bootstrap_glyphicon(data_obj_paths[:new_path], "sm", "success", "New #{label}", ["plus"]) %>
						</th>
						<% data_fields.each do |data_field| %>
							<th>
								<% field_label = data_field.has_key?(:field_label) ? data_field[:field_label] : data_field[:field_name].humanize.titlecase %>
								<% field_filter_default = data_field.has_key?(:field_filter_default) ? data_field[:field_filter_default] : "" %>
								
								<% if (data_field.has_key?(:field_filter) && data_field[:field_filter]) == false %>
									<nobr><%= field_label %></nobr>
								<% else %>
									<% case data_obj.columns_hash[data_field[:field_name]].type %>
									<% when :string %>
										<%= f.label data_field[:field_name].to_sym, field_label %>
										<br />
										<% if params.has_key?(form_for_obj) && params[form_for_obj].has_key?(data_field[:field_name].to_sym) && !params.has_key?("btn_#{form_for_name.downcase}s_reset_filters".to_sym) %>
											<%= f.text_field data_field[:field_name].to_sym, value: params[form_for_obj][data_field[:field_name].to_sym], class: "form-control input-sm", placeholder: "Enter all or part of a #{data_field[:field_name].downcase}" %>
										<% else %>
											<%= f.text_field data_field[:field_name].to_sym, class: "form-control input-sm", placeholder: "Enter all or part of a #{data_field[:field_name].downcase}" %>
										<% end %>
									<% when :boolean %>
										<%= f.label data_field[:field_name].to_sym, field_label %>
										<br />
										<% case data_field[:field_format] %>
											<% when "YesNo" %>
												<% ary_boolean_filter_options = [ ["All", ""], ["Yes", 1], ["No", 0] ] %>
											<% when "TrueFalse" %>
												<% ary_boolean_filter_options = [ ["All", ""], ["True", 1], ["False", 0] ] %>
											<% else %>
												<% ary_boolean_filter_options = [ ["All", ""], ["Yes", 1], ["No", 0] ] %>
										<% end %>
										<% if params.has_key?(form_for_obj) && params[form_for_obj].has_key?(data_field[:field_name].to_sym) && !params.has_key?(:btn_employers_reset_filters) %>
											<%= f.select data_field[:field_name].to_sym, options_for_select(ary_boolean_filter_options, selected: params[form_for_obj][data_field[:field_name].to_sym]), {}, { :class => "form-control input-sm"} %>
										<% else %>
											<%= f.select data_field[:field_name].to_sym, options_for_select(ary_boolean_filter_options, selected: field_filter_default), {}, { :class => "form-control input-sm"} %>
										<% end %>
									<% when :datetime, :date %>
										<%= f.label data_field[:field_name].to_sym, field_label %>
<%
=begin
%>
										<div class="btn-group">
											<!-- <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
												<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
												<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
												<span class="caret"></span>
											</button> -->
											<a href="#" class="dropdown-toggle" style="font-weight: normal; " data-toggle="dropdown" role="button" aria-expanded="false"
											>(Dates/Times<span class="caret"></span>)</a>
											<ul class="dropdown-menu" role="menu">
												<li>
													<!-- <nobr> -->
													<% if params.has_key?(form_for_obj) && params[form_for_obj].has_key?(data_field[:field_name].to_sym) && !params.has_key?("btn_#{form_for_name.downcase}s_reset_filters".to_sym) %>
														<%= f.text_field data_field[:field_name].to_sym, value: params[form_for_obj][data_field[:field_name].to_sym], class: "datetimepicker form-control input-sm", placeholder: "m/d/yyyy hh/nn TT" %>
														<%= f.text_field data_field[:field_name].to_sym, value: params[form_for_obj][data_field[:field_name].to_sym], class: "datetimepicker form-control input-sm", placeholder: "m/d/yyyy hh/nn TT" %>
													<% else %>
														<%= f.text_field data_field[:field_name].to_sym, class: "datetimepicker form-control input-sm", placeholder: "m/d/yyyy hh/nn TT" %>
														<%= f.text_field data_field[:field_name].to_sym, class: "datetimepicker form-control input-sm", placeholder: "m/d/yyyy hh/nn TT" %>
													<% end %>
													<!-- </nobr> -->
												</li>
											</ul>
										</div>
<%
=end
%>
										<br/>
										<% if \
											params.has_key?(form_for_obj) \
											&& params[form_for_obj].has_key?(data_field[:field_name].to_sym) \
											&& params[form_for_obj][data_field[:field_name].to_sym].has_key?((data_field[:field_name]+"_1").to_sym) \
											&& params[form_for_obj][data_field[:field_name].to_sym].has_key?((data_field[:field_name]+"_2").to_sym) \
											&& !params.has_key?("btn_#{form_for_name.downcase}s_reset_filters".to_sym) \
										%>
											<div class="input-group">
												<span class="input-group-addon" aria-hidden="true" style="font-weight: bold; ">>=</span>
												<%= text_field_tag "#{form_for_name.downcase}[#{data_field[:field_name]}][#{data_field[:field_name]}_1]", params[form_for_obj][data_field[:field_name].to_sym][(data_field[:field_name]+"_1").to_sym], class: " form-control input-sm datetimepicker", placeholder: "m/d/yyyy hh:nn TT" %>
											</div>
											<div class="input-group">
												<span class="input-group-addon" aria-hidden="true" style="font-weight: bold; "><=</span>
												<%= text_field_tag "#{form_for_name.downcase}[#{data_field[:field_name]}][#{data_field[:field_name]}_2]", params[form_for_obj][data_field[:field_name].to_sym][(data_field[:field_name]+"_2").to_sym], class: " form-control input-sm datetimepicker", placeholder: "m/d/yyyy hh:nn TT" %>
											</div>
<%
=begin
%>
											<%= f.text_field data_field[:field_name].to_sym, value: params[form_for_obj][data_field[:field_name].to_sym], class: " form-control input-sm between-datestimes", placeholder: "mm/dd/yy hh TT - mm/dd/yy hh TT" %>
<%
=end
%>
										<% else %><!-- datetimepicker between-datestimes -->
											<div class="input-group">
												<span class="input-group-addon" aria-hidden="true" style="font-weight: bold; ">>=</span>
												<%= text_field_tag "#{form_for_name.downcase}[#{data_field[:field_name]}][#{data_field[:field_name]}_1]", "", class: " form-control input-sm datetimepicker", placeholder: "m/d/yyyy hh:nn TT" %>
											</div>
											<div class="input-group">
												<span class="input-group-addon" aria-hidden="true" style="font-weight: bold; "><=</span>
												<%= text_field_tag "#{form_for_name.downcase}[#{data_field[:field_name]}][#{data_field[:field_name]}_2]", "", class: " form-control input-sm datetimepicker", placeholder: "m/d/yyyy hh:nn TT" %>
											</div>
<%
=begin
%>
											<%= f.text_field data_field[:field_name].to_sym, class: " form-control input-sm between-datestimes", placeholder: "mm/dd/yy hh TT - mm/dd/yy hh TT" %>
<%
=end
%>
										<% end %><!-- datetimepicker between-datestimes -->
									<% end %>
								<% end %>
							</th>
						<% end %>
						<th>
<%
=begin
%>
							%= button_tag_bootstrap_glyphicon("submit", "btn__apply_filters", "sm", "primary", "", ["filter"], {text_end: ""}) %
							%= button_tag_bootstrap_glyphicon("submit", "btn__reset_filters", "sm", "default", "", ["filter", "remove"], {text_end: ""}) %
<%
=end
%>
							<%= submit_tag "Apply Filters", name: "btn_#{form_for_name.downcase}s_apply_filters", class: "btn btn-sm btn-primary" %>
							<%= submit_tag "Reset Filters", name: "btn_#{form_for_name.downcase}s_reset_filters", class: "btn btn-sm btn-default" %>
						</th>
					<% end %>
				</tr>
			</thead>
		
			<tbody>
				<% if data_obj.total_count == 0 %>
					<td colspan="10">No records found.</td>
				<% else %>
					<% data_obj.each_with_index do |data_row_current, data_row_number| %>
						<tr>
							<td><%= (((((params.has_key?(:page) ? params[:page].to_i : 1) - 1) * Kaminari.config.default_per_page) + data_row_number) + 1) %></td>
							<% data_fields.each do |data_field| %>
								<% case data_obj.columns_hash[data_field[:field_name]].type %>
									<% when :string %>
										<td><%= data_row_current[data_field[:field_name]] %></td>
									<% when :boolean %>
										<% case data_field[:field_format] %>
											<% when "YesNo" %>
												<td><%= data_row_current[data_field[:field_name]] ? "Yes" : "No" %></td>
											<% when "TrueFalse" %>
												<td><%= data_row_current[data_field[:field_name]] ? "True" : "False" %></td>
											<% else %>
												<td><%= data_row_current[data_field[:field_name]] %></td>
										<% end %>
									<% when :datetime, :date %>
										<td><%= data_row_current[data_field[:field_name]].blank? ? "&nbsp;".html_safe : data_row_current[data_field[:field_name]].strftime(data_field[:field_format]).html_safe %></td>
								<% end %>
							<% end %>




							<td>
								<% if record_actions.length > 0 %>
									<nobr>
										<% record_actions.each do |record_action| %>
											<% case record_action %>
												<% when "show" %>
												<%= link_to_bootstrap_glyphicon(data_row_current, "sm", "info", "View #{label}", ["search"]) %>
												<% when "edit" %>
													<%= link_to_bootstrap_glyphicon(send("edit_#{form_for_name}_path", data_row_current), "sm", "warning", "Edit #{label}", ["pencil"]) %>
												<% when "activate_deactivate" %>
													<% if data_row_current.is_active %>
														<%= link_to_bootstrap_glyphicon(send("deactivate_#{form_for_name}_path", data_row_current), "sm", "warning", "Deactivate #{label}", ["ban-circle"], { method: :deactivate, data: { confirm: 'Are you sure you want to deactivate this record?' } }) %>
													<% else %>
														<%= link_to_bootstrap_glyphicon(send("activate_#{form_for_name}_path", data_row_current), "sm", "success", "Activate #{label}", ["check"], { method: :activate, data: { confirm: 'Are you sure you want to activate this record?' } }) %>
													<% end %>
												<% when "delete_undelete" %>
													<% if !data_row_current.is_deleted %>
														<%= link_to_bootstrap_glyphicon(send("do_delete_#{form_for_name}_path", data_row_current), "sm", "danger", "Delete #{label}", ["trash"], { method: :do_delete, data: { confirm: 'Are you sure you want to delete this record?' } }) %>
													<% else %>
														<%= link_to_bootstrap_glyphicon(send("undo_delete_#{form_for_name}_path", data_row_current), "sm", "success", "Undelete #{label}", ["refresh"], { method: :undo_delete, data: { confirm: 'Are you sure you want to undelete this record?' } }) %>
													<% end %>
												<% when "destroy" %>
													<%= link_to_bootstrap_glyphicon(data_row_current, "sm", "danger", "Permanently Delete #{label}", ["fire"], { method: :delete, data: { confirm: "This cannot be undone - are you sure you want to permanently delete this record?" } }) %>
											<% end %>
										<% end %>
									</nobr>
								<% else %>
									&npsp;
								<% end %>	
							</td>



						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<div class="panel-heading">
		<div class="panel-title">
			<%= paginate data_obj, :total_count => data_obj.total_count %>
		</div>
	</div>
</div>