
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<%= paginate data_obj, :total_count => data_obj.total_count %>
		</div>
	</div>
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<% ary_yes_no_all = [ ["All", ""], ["Yes", 1], ["No", 0] ] %>
					<%= form_for form_for_obj, :method => "get", :url => data_obj_paths[:list_path] do |f| %>
						<th>
							<%= link_to_bootstrap_glyphicon(data_obj_paths[:new_path], "sm", "success", "New #{label}", ["plus"]) %>
						</th>
						<% data_fields.each do |data_field| %>
							<% if data_field.has_key?(:field_label) %>
								<th><%= data_field[:field_label] %></th>
							<% else %>
								<th><%= data_field[:field_name].humanize.titlecase %></th>
							<% end %>
						<% end %>
<%
=begin
%>
						<th colspan="3">
							<%= submit_tag "Apply Filters", name: "btn_employers_apply_filters", class: "btn btn-sm btn-primary" %>
							<%= submit_tag "Reset Filters", name: "btn_employers_reset_filters", class: "btn btn-sm btn-default" %>
						</th>
<%
=end
%>
					<% end %>
				</tr>
			</thead>
		
			<tbody>
				<% if data_obj.total_count == 0 %>
					<td colspan="10">No records found.</td>
				<% else %>
					<% data_obj.each_with_index do |data_row_current, data_row_number| %>
						<tr>
							<td><%= (((((params.has_key?(:page) ? params[:page].to_i : 1) - 1) * Kaminari.config.default_per_page) + data_row_number) + 1) %></td>
							<% data_fields.each do |data_field| %>
								<% case data_obj.columns_hash[data_field[:field_name]].type %>
									<% when :string %>
										<td><%= data_row_current[data_field[:field_name]] %></td>
									<% when :boolean %>
										<% case data_field[:field_format] %>
											<% when "YesNo" %>
												<td><%= data_row_current[data_field[:field_name]] ? "Yes" : "No" %></td>
											<% when "TrueFalse" %>
												<td><%= data_row_current[data_field[:field_name]] ? "True" : "False" %></td>
											<% else %>
												<td><%= data_row_current[data_field[:field_name]] %></td>
										<% end %>
									<% when :datetime || :date %>
										<td><%= data_row_current[data_field[:field_name]].blank? ? "&nbsp;".html_safe : data_row_current[data_field[:field_name]].strftime(data_field[:field_format]) %></td>
								<% end %>
							<% end %>
<%
=begin
%>
							<td><%= link_to 'Edit', edit_employer_path(data_row_current) %></td>
							<td>
								<% if data_row_current.is_active %>
									<%= link_to 'Deactivate', deactivate_employer_path(data_row_current), method: :deactivate, data: { confirm: 'Are you sure you want to deactivate this record?' } %>
								<% else %>
									<%= link_to 'Activate', activate_employer_path(data_row_current), method: :activate, data: { confirm: 'Are you sure you want to activate this record?' } %>
								<% end %>
							</td>
							<td>
								<% if !data_row_current.is_deleted %>
									<%= link_to 'Delete', do_delete_employer_path(data_row_current), method: :do_delete, data: { confirm: 'Are you sure you want to delete this record?' } %>
								<% else %>
									<%= link_to 'Undelete', undo_delete_employer_path(data_row_current), method: :undo_delete, data: { confirm: 'Are you sure you want to undelete this record?' } %>
								<% end %>
							</td>
<%
=end
%>

						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	
	<div class="panel-heading">
		<div class="panel-title">
			<%= paginate data_obj, :total_count => data_obj.total_count %>
		</div>
	</div>
</div>