<%= form_for(@project_team_employee_report_task) do |f| %>
  <% if @project_team_employee_report_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_team_employee_report_task.errors.count, "error") %> prohibited this project_team_employee_report_task from being saved:</h2>

      <ul>
      <% @project_team_employee_report_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_team_employee_report_id %><br>
    <%= f.text_field :project_team_employee_report_id %>
  </div>
  <div class="field">
    <%= f.label :work_date %><br>
    <%= f.date_select :work_date %>
  </div>
  <div class="field">
    <%= f.label :work_hours %><br>
    <%= f.text_field :work_hours %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.text_field :task_id %>
  </div>
  <div class="field">
    <%= f.label :application_id %><br>
    <%= f.text_field :application_id %>
  </div>
  <div class="field">
    <%= f.label :release_id %><br>
    <%= f.text_field :release_id %>
  </div>
  <div class="field">
    <%= f.label :build_id %><br>
    <%= f.text_field :build_id %>
  </div>
  <div class="field">
    <%= f.label :created_by %><br>
    <%= f.text_field :created_by %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.text_field :updated_by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
