
<%= form_for(@employer) do |f| %>
  <% if @employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
      <% @employer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<style>
		.field {
			display: table-cell; 
		}
		.field, .actions {
			padding: 5px;
		}
	</style>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :is_active, "Is Active" %><br/>
    <% if action_name == "new" %>
    	<%= f.check_box :is_active, checked: true %>
    <% else %>
    	<%= f.check_box :is_active %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :is_deleted, "Is Deleted" %><br/>
    <%= f.check_box :is_deleted %>
  </div>
  <div class="actions">  	
  	<%= button_tag_bootstrap_glyphicon("submit", "btn_create_return_to_list", "sm", "primary", "Save Employer and Return to List", ["save"], {text_end: " Save Employer and Return to List"}) %>
  	<%= button_tag_bootstrap_glyphicon("submit", "btn_create_add_another", "sm", "success", "Save Employer and Add New", ["save", "plus"], {text_end: " Save Employer and Add New"}) %>
    <%= link_to 'Back/Cancel', employers_path, class: "btn btn-sm btn-default" %>
  </div>
<% end %>
