<h1>Listing roles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Is system role</th>
      <th>Is active</th>
      <th>Is deleted</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.name %></td>
        <td><%= role.description %></td>
        <td><%= role.is_system_role ? "Yes" : "No" %></td>
        <td><%= role.is_active ? "Yes" : "No" %></td>
        <td><%= role.is_deleted ? "Yes" : "No" %></td>
        <td><%= role.created_at.strftime("%m/%d%Y %l:%M:%S %p") %></td>
        <td><%= role.updated_at.strftime("%m/%d%Y %l:%M:%S %p") %></td>
        <td>
        	<%= role.deleted_at.blank? ? "&nbsp;".html_safe : role.deleted_at.strftime("%m/%d%Y %l:%M:%S %p") %>
        </td>
        <td><%= link_to 'Show', role %></td>
        <td><%= link_to 'Edit', edit_role_path(role) %></td>
        <td><%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Role', new_role_path %>
