<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Is system role:</strong>
  <%= @role.is_system_role %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @role.is_active %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @role.is_deleted %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @role.created_at.strftime("%m/%d%Y %l:%M:%S %p") %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @role.updated_at.strftime("%m/%d%Y %l:%M:%S %p") %>
</p>

<p>
  <strong>Deleted at:</strong>
  <%= @role.deleted_at.blank? ? "&nbsp;".html_safe : role.deleted_at.strftime("%m/%d%Y %l:%M:%S %p") %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
