<h1>Listing project_organization_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Is active</th>
      <th>Is deleted</th>
      <th>Deleted at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_organization_types.each do |project_organization_type| %>
      <tr>
        <td><%= project_organization_type.name %></td>
        <td><%= project_organization_type.description %></td>
        <td><%= project_organization_type.is_active %></td>
        <td><%= project_organization_type.is_deleted %></td>
        <td><%= project_organization_type.deleted_at %></td>
        <td><%= link_to 'Show', project_organization_type %></td>
        <td><%= link_to 'Edit', edit_project_organization_type_path(project_organization_type) %></td>
        <td><%= link_to 'Destroy', project_organization_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project organization type', new_project_organization_type_path %>
