<!DOCTYPE html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    
		<title>Project Activity Reporting</title>
		
		<%= render 'layouts/shim' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
		<%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
		<%= csrf_meta_tags %>
		
	</head>
	<body role="document">
		
		<%= render "layouts/location_bar_2" %>
		<%= render "layouts/navbar" %>
		
		<div class="container theme-showcase" role="main">
			<%= yield %>
		</div>

	</body>
</html>