<!DOCTYPE html>
<html>
	<head>
		<title>ProjectActivityReporting</title>
		<!--%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %-->
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
    <!-- Bootstrap core CSS -->
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

	</head>
	<body>
		<%= link_to "Employers", employers_path %>
		<%= link_to "Roles", roles_path %>
		<%= link_to "Users", users_path %>
		<hr/>
		<%= yield %>

	</body>
</html>
